li
{
  display:inline-block;
}

#menu
{

  background-color: #2F5233;

  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:19px;

}

/* unvisited link */
a:link {
  color: Gold;
}

/* visited link */
a:visited {
  color: Gold;
}

/* mouse over link */
a:hover {
  color: Orange;

}

/* selected link */
a:active {
  color: Red;

}



