{% extends "base.html" %}
{% load static %}
{% block title %}WELCOME!!!{% endblock %}

{% block content %}
<h1 style="color:DodgerBlue">About Us</h1>
<br>
<div class="bigbox">
<div class="about">
    <br>
<p>The EasyBarber website was established in the year 2018
    to assist the salon owners to promote their salon shop.
    The website which was initially built to host the services of salon shops has now been successful in extending its
    services to the customers who can now search and book appointments easily at their preferred salon shop.
    Our main motive behind including this service is to reduce the waiting time of the customers at the barber shop.
    10 Quality Salon companies are assocaited with us which <strong>offer home service also.</strong></p>
</div>
</div>


  <div class="column">
    <img src="{% static 'EasyBarber/mask_haircut.jpg' %}" alt="Safety" style="margin-left:650px">
  </div>

{% endblock %}