{% extends "base.html" %}

{% block title %} Customers {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="headown">
<h1 style="color:DodgerBlue">Owner SignUp</h1>
<h2 style="color:Gold"> Step 1: Enter Personal Details</h2>
</div>

<form method="post" style="margin-left:30px">
    <table>
        {{form|crispy}}
    </table>
    {% csrf_token %}
    <br>
    <button type="submit" style="margin-left: 150px">SignUp</button>
</form>
<a href="{% url 'home'  %}">HOME</a>

{% endblock %}