{% extends "base.html" %}

{% block title %}Book Now {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<br>
<div class="schedule">
<h1 style="color:Orange">Book Your Appointment</h1>
</div>
<div class="formsched">
<form method="post">
    <table>
        {{form|crispy}}
    </table>
    {% csrf_token %}
    <br>
    <button type="submit" style="margin-left: 150px">Submit</button>

</form>

<br>
<a href="{% url 'home'  %}">HOME</a>

<br>


</div>
<div class="check_app">

<h2>
     Confirmed Appointments
</h2>

    </div>
<br>
<div class="check_link">
<a href="{% url 'display_booked' %}"> Check Appointment List </a>
</div>
{% endblock %}