{% extends "base.html" %}

{% block title %}Book Now {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

{% if confirm %}
<div class="confirm">

    <h2>Thanks {{confirm}}! </h2>
       <h3>We will respond shortly with the confirmation email for the the appointment booked </h3>

</div>
{% else %}
<br>
<br>
<div class="schedule">
<h1 style="color:DodgerBlue">Book Your Appointment</h1>
</div>
<form method="post">
    <table>
        {{form|crispy}}
    </table>
    {% csrf_token %}
    <br>
    <button type="submit" style="margin-left: 150px">Submit</button>
</form>
<br>
<a href="{% url 'home'  %}">HOME</a>
{% endif %}
<br>
<br>
<h2 style="color:Gold">
    Check the Confirmed Appointments
</h2>
<a href="{% url 'display_booked' %}"> Appointment List </a>
<br>

{% endblock %}