{% extends "base.html" %}

{% block title %}Salon Shops{% endblock %}

{% block content %}
<div class="shophead">
<h1 style="color:DodgerBlue">Our Esteemed Salon Shops</h1>
</div>
<div class="listshop">
<li>
    <ol>Empire Cuts</ol>
    <ol>Style Street</ol>
    <ol>The Barber Show</ol>
    <ol>Razor King</ol>
    <ol>Crew Cuts</ol>
    <ol>Barber Canvas</ol>
    <ol>Twisted Scissors</ol>
    <ol>Barber Blaze</ol>
    <ol>Whiz Barber</ol>
    <ol>Barber Hacks</ol>
    <ol>The Classic Cut</ol>
    <ol>Barber Labs</ol>
    <ol>Clip and Fix</ol>
    <ol>Cutting Edge</ol>
    <ol>Hair Force</ol>
</li>
</div>
<p><a href="{% url 'home'  %}" style="color:DodgerBlue">HOME</a></p>

{% endblock %}